$font__clr: rgba(240, 240, 240, 0.9);
$background__primary: #0e1d25;

.user-home {
  background: $background__primary;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 2.5rem;
  color: $font__clr;
}
