$font__clr: rgba(240, 240, 240, 0.9);
$background__primary: #0e1d25;

.user-home {
  background: $background__primary;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 1em;
  padding: 3.5em 1em 1em 1em;
  color: $font__clr;
  overflow-y: auto;
}
