.dashboard-page {
  background: #0e1d25;
  margin: 0;
  padding-top: 2.5rem;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  .dashboard-container {
    height: 100%;
    width: 100%;
    color: rgba(240, 240, 240, 0.9);
    margin-right: auto;
    margin-left: auto;
    padding-left: 15vw;
  }
}

@media (max-width: 620px) {
  .dashboard-page {
    .dashboard-container {
      padding-left: 25vw;
    }
  }
}
@media (max-width: 300px) {
  .dashboard-page {
    .dashboard-container {
      padding-left: 30vw;
    }
  }
}
