.logout-btn {
  padding: 0.75em 0.45em;
  border: none;
  padding-inline: 1em;
  cursor: pointer;
  font-weight: 400;
  height: 100%;
  color: #befcff;
  background: rgba(21, 76, 90, 0.951);
  transition: all 150ms ease-in;
  &:hover {
    color: #f0f0f0;
    background: hsl(185, 76%, 31%);
  }
}
