.utilisateurs {
  font-size: 0.85rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  padding: 1em;
  max-width: 100%;
}

@media (max-width: 1450px) {
  .utilisateurs {
    font-size: 0.8rem;
  }
}

@media (max-width: 1350px) {
  .utilisateurs {
    font-size: 0.8rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1050px) {
  .utilisateurs {
    font-size: 0.85rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .utilisateurs {
    // font-size: 0.775rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 775px) {
  .utilisateurs {
    font-size: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 630px) {
  .utilisateurs {
    font-size: 0.7em;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75em;
  }
}
@media (max-width: 475px) {
  .utilisateurs {
    font-size: 0.75em;
    grid-template-columns: repeat(1, 85%);
    padding: 1em 0.5em;
    justify-content: center;
    gap: 1em;
  }
}
