.single-user {
  position: relative;
  background-color: #0e323c;
  padding: 0.5em 2em;
  font-weight: 500;
  font-size: 1em;
  border-radius: 0.5em;
  box-shadow: 3px 5px 10px hsl(201, 45%, 5%),
    inset -2px -2px 7px rgba(240, 240, 240, 0.1);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.6em;
    background: #c1faff;
  }

  p {
    width: 100%;
    font-weight: 400;
    color: #c1faff;
    letter-spacing: 1px;
    margin-bottom: 0.3em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  span {
    width: 100%;
    display: inline-block;
    color: #4b7d8c;
    font-size: 0.7em;
    font-weight: 400;
    text-align: start;
  }
}
