.single-user {
  position: relative;
  background-color: #0e323c;
  padding: 0.5em 2em;
  color: rgba(240, 240, 240, 0.9);
  font-weight: 500;
  font-size: 1em;
  border-radius: 0.5em;
  box-shadow: 3px 5px 10px hsl(201, 45%, 5%),
    inset -2px -2px 7px rgba(240, 240, 240, 0.1);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.6em;
    background: rgb(26, 114, 121);
  }

  p {
    width: 100%;
    font-weight: 500;
  }
  span {
    width: 100%;
    display: inline-block;
    color: rgba(240, 240, 240, 0.7);
    font-size: 0.7em;
    font-weight: 300;
    text-align: start;
  }
}
