$primary--clr: hsl(201, 45%, 6.5%);
$font--clr--primary: rgba(240, 240, 240, 0.9);
$font--clr--secondary: rgba(240, 240, 240, 0.1);

.informaticien__container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  h1 {
    background: $primary--clr;
    padding: 0.15em 1em;
    border-radius: 10px;
    width: 100%;
    border: 1px solid $font--clr--secondary;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px $primary--clr;
  }
  .list__info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }
}
