$primary--clr: hsl(201, 45%, 6.5%);
$font--clr--primary: rgba(240, 240, 240, 0.9);
$font--clr--secondary: rgba(240, 240, 240, 0.1);

.dashboard__dashboard {
  font-size: 1rem;
  h1 {
    background: $primary--clr;
    padding: 0.15em 1em;
    border-radius: 10px;
    width: 100%;
    border: 1px solid $font--clr--secondary;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px $primary--clr;
  }
  color: $font--clr--primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  height: 100%;
  .cards__container {
    width: 100%;
    padding: 2em 0em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .chart__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em 2em;
    justify-content: space-evenly;
    .chart__user__container,
    .chart__requete__container {
      padding: 2em 4em;
      border: 1px solid $font--clr--secondary;
      background: $primary--clr;
      border-radius: 5em;
      box-shadow: 0px 0px 10px 5px $primary--clr;
    }
  }
}

@media (max-width: 1200px) {
  .dashboard__dashboard {
    font-size: 0.9rem;
    .chart__container,
    .cards__container {
      justify-content: space-between;
      padding-inline: 1em;
    }
    .cards__container {
      padding-inline: 2em;
    }
  }
}
@media (max-width: 1050px) {
  .dashboard__dashboard {
    font-size: 0.8rem;
    .chart__container,
    .cards__container {
      justify-content: space-between;
      padding-inline: 0.5em;
    }
    .cards__container {
      padding-inline: 1em;
    }
  }
}
@media (max-width: 1000px) {
  .dashboard__dashboard {
    font-size: 0.9rem;
    .chart__container,
    .cards__container {
      justify-content: space-between;
      flex-direction: column;
      padding-inline: 1em;
      gap: 1em;
    }
    .cards__container {
      padding-inline: 2em;
    }
  }
}
@media (max-width: 600px) {
  .dashboard__dashboard {
    font-size: 0.5rem;
    .chart__container,
    .cards__container {
      justify-content: space-between;
      gap: 0.5em;
      padding-inline: 1em;
    }
    .cards__container {
      padding-inline: 2em;
    }
  }
}
