$primary--clr: hsl(201, 45%, 6.5%);
$font--clr--primary: rgba(240, 240, 240, 0.9);
$font--clr--secondary: rgba(240, 240, 240, 0.2);

.info__comp {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $primary--clr;
  border: 1px solid $font--clr--secondary;
  border-radius: 10px;
  h2 {
    cursor: pointer;
    padding-block: 0.65em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    letter-spacing: 2px;
    transition: opacity 100ms ease-in;
    .icon {
      margin-left: 1em;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  form {
    padding: 1.5em;
    border-top: 1px solid $font--clr--secondary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    .form__control {
      width: 100%;
      input,
      select,
      button {
        color: $font--clr--primary;
        height: 100%;
        width: 100%;
        padding: 0.6em 0.35em;
        border: 1px solid $font--clr--secondary;
        outline: none;
        border-radius: 5px;
        background: transparent;
      }
      select {
        color: $primary--clr;
        background: $font--clr--primary;
      }
      button {
        cursor: pointer;
        transition: all 100ms ease-in;
        &:hover {
          backdrop-filter: saturate(300%);
          letter-spacing: 2px;
        }
      }
    }
  }
}
