$secondary--color: #c2f9ff;
$primary--color: #0e323c;
$font--color: #0d585f;

.request__list {
  border-radius: 5px;
  border: 1px solid rgba(194, 249, 255, 0.4);
  width: 100%;
  height: max-content;
  background-color: $primary--color;
  color: $secondary--color;
  position: relative;
  transition: all 150ms ease-in;
  h2 {
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0.5em 1em;
  }
  .down__arrow {
    position: absolute;
    right: 1em;
    vertical-align: middle;
  }
  .up__arrow {
    @extend .down__arrow;
    left: 50%;
  }
  .requests {
    height: auto;
    .single__request {
      border-top: 1px solid $secondary--color;
      padding: 1em;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 6em;
      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        span {
          font-size: 0.85em;
          font-weight: 300;
        }
        h3 {
          font-weight: 500;
          letter-spacing: 1px;
          margin-bottom: 0.5em;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      p {
        position: absolute;
        right: 1rem;
        bottom: 1em;
        font-weight: 600;
        &:first-of-type {
          bottom: 2.2em;
        }
      }
    }
    .no__request {
      border-top: 1px solid $secondary--color;
      text-align: center;
      padding: 1em 0 1em 0;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }
  }
  &:hover {
    background: $secondary--color;
    color: $font--color;
    .requests {
      .single__request {
        background: inherit;
        color: inherit;
        border-top: 1px solid $font--color;
      }
    }
  }
}
