.dashboard-spinner {
  z-index: 998;
  background: #0e1d25;
  position: absolute;
  inset: 0 0 0 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  &::before {
    content: "";
    width: 3vw;
    aspect-ratio: 1;
    border: 0.25em solid #00766f;
    position: absolute;
    animation: rotateRight 1500ms infinite;
  }
  &::after {
    content: "";
    width: 4vw;
    aspect-ratio: 1;
    border: 0.1em solid rgba(249, 248, 113, 0.5);
    transform: rotate(45deg);
    position: absolute;
    animation: rotateLeft 1500ms infinite;
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 620px) {
  .dashboard-spinner {
    inset: 0 0 0 25vw;
    &::before,
    &::after {
      width: 8vw;
    }
  }
}
@media (max-width: 300px) {
  .dashboard-spinner {
    inset: 0 0 0 30vw;
    &::before,
    &::after {
      width: 10vw;
    }
  }
}
