$secondary--color: #c2f9ff;
$primary--color: #0e323c;
$font--color: #0d585f;

@mixin fontWeight {
  font-weight: 400;
  letter-spacing: 1px;
}

@mixin borderContainer {
  background: $primary--color;
  color: $secondary--color;
  height: max-content;
  cursor: pointer;
  text-align: center;
  transition: all 150ms ease-in;
  padding-block: 0.5em;
  border-radius: 0.2em;
  font-weight: 300;
  &:hover {
    background: $secondary--color;
    color: $primary--color;
    transform: translateY(2px);
  }
}

.statut__requete {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  width: 100%;
  .statut__container {
    display: flex;
    gap: 5px;
    .en__attente__container {
      width: 100%;
      @include borderContainer();
      h3 {
        @include fontWeight();
      }
    }
    .en__cours__container {
      width: 100%;
      @include borderContainer();
      h3 {
        @include fontWeight();
      }
    }
    .accepter__container {
      width: 100%;
      @include borderContainer();
      h3 {
        @include fontWeight();
      }
    }
    .refuser__container {
      width: 100%;
      @include borderContainer();
      h3 {
        @include fontWeight();
      }
    }
  }
  .container {
    background: $secondary--color;
    color: $primary--color;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    .single {
      padding: 1em;
      width: 100%;
      border-bottom: 1px solid $font--color;
      &:last-of-type {
        border-bottom: none;
      }
      span {
        font-size: 0.8em;
        color: $font--color;
        font-weight: 300;
      }
      p {
        letter-spacing: 1px;
        margin-bottom: 0.6em;
        font-weight: 500;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.active {
  background: $secondary--color !important;
  color: $primary--color !important;
}
