.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 2.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: #0e323c;
  z-index: 999;
  ul {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      .logo-svg {
        height: 70%;
        width: 100%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 1250px) {
  .navbar {
    font-size: 0.95rem;
  }
}

@media (max-width: 1050px) {
  .navbar {
    font-size: 0.9rem;
  }
}
@media (max-width: 850px) {
}
@media (max-width: 620px) {
}
@media (max-width: 480px) {
}
@media (max-width: 300px) {
}

@media (max-height: 650px) {
}
@media (max-height: 465px) {
}
@media (max-height: 300px) {
}
@media (max-height: 200px) {
}
