$secondary--color: #c2f9ff;
$primary--color: #0e323c;
$font--color: #0d585f;

.request__form {
  border: 1px solid rgba(194, 249, 255, 0.4);
  color: $secondary--color;
  border-radius: 5px;
  height: max-content;
  width: 50%;
  background: $primary--color;
  position: relative;
  transition: all 150ms ease-in;
  .down__arrow {
    position: absolute;
    right: 1em;
    vertical-align: middle;
  }
  .up__arrow {
    @extend .down__arrow;
    left: 50%;
  }
  h2 {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.5em 1em;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid $secondary--color;
    padding: 1em;
    padding-top: 2em;
    .form__control {
      width: 20em;
      margin-block: 0.25em;
      input,
      select,
      button {
        outline: none;
        color: $secondary--color;
        border-radius: 1em;
        border: 1px solid $secondary--color;
        font-weight: 400;
        font-size: 1.1rem;
        width: 100%;
        padding: 1em;
        background: transparent;
        &::placeholder {
          color: $secondary--color;
        }
      }
      select:hover {
        cursor: pointer;
      }

      button {
        transition: all 150ms ease-in;
        &:hover {
          background: $primary--color;
          color: $secondary--color;
          border: 1px solid $secondary--color;
          cursor: pointer;
          transform: translateY(2px);
        }
      }
    }
  }
  &:hover {
    background: $secondary--color;
    color: $font--color;
    form {
      border-top: 1px solid $font--color;
      input,
      select,
      button {
        color: $font--color;
        background-color: inherit;
        border: 1px solid $font--color;
        &::placeholder {
          color: $font--color;
        }
      }
    }
  }
}
